body {
  font-family: Arial;
  margin: 30px;
  background: #f4f4f4;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

select {
  padding: 5px;
}

.aprobada {
  background-color: #c8e6c9;
}
.reprobada {
  background-color: #ffcdd2;
}
.cursando {
  background-color: #bbdefb;
}
.porcursar {
  background-color: #eeeeee;
}
